body {
  background-color: #2c3e50;
}

h1 {
  color: #ffffff;
}

#days-of-week h2 {
  color: #f1c40f;
}

#days-of-week ul li {
  color: #ffffff;
}

#activities h2 {
  border: 2px solid;
  background-color: #f1c40f;
}

#activities ul li {
  color: #ffffff;
}

#astronomy-class {
  color: #ff0000;
}